:root {
    --white: hsl(0, 0%, 100%);
    --ligth-violet: hsl(270, 3%, 87%);
    --violet: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);
    --error: hsl(0, 100%, 66%);
    --acive-gradiant-start: hsl(249, 99%, 64%);
    --acive-gradiant-end: hsl(278, 94%, 30%);
    --active-gradiant: linear-gradient(var(--acive-gradiant-start), var(--acive-gradiant-end));
}

#app {
    font-family: 'Heebo', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;


    max-width: 100%;
    min-width: 375px;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-image: url('./images/bg-main-desktop.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

/* CARD */

.cards-container {
    height: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    position: relative;
    color: var(--white);
}

.card > img {
    width: 100%;
    height: auto;
    filter: drop-shadow(14px 43px 43px rgba(0, 0, 0, 0.3));
}

.card--front {
    margin-right: 100px;
}

.card--back {
    margin-left: 100px;
}

.card__body {
    position: absolute;
    top: 0;

    width: 90%;
    height: 80%;
    padding: 5% 5%;
}

.card__body--front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__body--front > img {
    width: 20%;
    height: auto;
}

.card__body--front > div {
    justify-self: flex-end;
}

.card__body--front > div > h2 {
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 3px;
}

.card__body--front > div > span:last-child {
    float: right
}

.card__body--back {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card__body--back > span {
    /* Compensation to fit within the image */
    margin-right: 10%;
    margin-bottom: 5px;
}


/* FORM */

form {
    min-width: 300px;
    max-width: 25%;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form__row {
    display: flex;
}

.form__row > .form__section {
    flex: 1 1;
    /* justify-content: space-between; */
}

.form__row > .form__section:not(:last-child) {
    margin-right: 10px;
}

.form__section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}


.form__section > input {
    width: 100%;
    padding: 10px;

    font-size: 1.2em;
    color: var(--dark-violet);

    margin-bottom: 1em;

    border-radius: 7px;
    border: solid var(--ligth-violet) 1px;
}

.form__section > input::placeholder {
    color: var(--ligth-violet);
}

.form__section > input:focus {
    outline: none;
    border: solid 1px transparent;
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image: 
        linear-gradient(white, white), 
        linear-gradient(to top, var(--acive-gradiant-start), var(--acive-gradiant-end));

}

.form__section > .input--active {
    overflow: hidden;
    border-radius: 7px;
    border: solid var(--active-gradiant) 1px;
}

.form__section > .input--error {
    border: solid var(--error) 1px;
}


.form__section--flex > input{
    width: 30%;
} 

.form__section--flex > input:not(:last-child) {
    margin-right: 0.5em;
}

.form__section > label {
    width: 100%;
    color: var(--dark-violet);
    font-weight: 600;
    font-size: 0.8em;

    margin-bottom: 5px;
}

button {
    width: 100%;

    padding: 1em;

    color: var(--white);
    font-weight: 600;

    background: var(--dark-violet);

    border-radius: 7px;
    border: solid 1px var(--dark-violet);



    cursor: pointer;

    transition: all .2s ease-in-out;
}

button:hover {
    background: var(--ligth-violet);
    color: var(--dark-violet);
    border-color: var(--dark-violet);
}

@media (max-width: 900px) {
    #app {
        flex-direction: column;

        justify-content: flex-start;

        /* justify-content: space-evenly; */
        background-image: url('./images/bg-main-mobile.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .cards-container {
        position: relative;

        height: fit-content;

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;


        margin: 20px;
        margin-bottom: 35%;
    }

    .card > img {
        filter: none;
    }
    
    .card--front {
        position: absolute;
        z-index: 2;
        bottom: -55%;

        margin-right: 15vw;
    }  

    .card--back {
        margin-left: 15vw;
    }

    

}

@media (max-width: 570px) {
    .card__body--front > div > h2 {
        font-size: 4.5vw; /* Magic number */
    }
         
    .card__body--front > div > span {
        font-size: 3vw; /* Magic number */
    }
}